@media (max-width:420px) {

  /* ##########################  */
  /* START :: Hero container     */
  /* ##########################  */
  .home-hero-section {
    padding: 46px 0 62px;

    .container {
      .home-hero-container {
        .home-hero-content-main-wrapper {
          .home-hero-content-wrapper {
            .home-hero-title {}

            .home-title-outline {}

            .home-hero-head {
              font-size: 42px;
              line-height: 50px;
              padding-block: 18px;
              max-width: 200px;
            }

            .home-hero-desc {
              font-size: 14px;
              line-height: 22px;
              max-width: 300px;
            }

            .primary-btn {
              margin: 16px 0 40px;
            }
          }

          .home-hero-isolation-image {
            max-width: 370PX;
            width: 100%;
          }
        }

        .home-featured-cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  /* ##########################  */
  /* END :: Hero container       */
  /* ##########################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* ##################################  */
  /* START :: Home Page About container  */
  /* ##################################  */
  .home-about-us-section {
    padding: 65px 0;

    .container {
      .home-about-us-container {
        .home-about-us-content-wrapper {
          gap: 18px;

          .home-about-title {
            >span {}

            .home-about-title-line {}
          }

          .home-about-head {
            font-size: 26px;
            line-height: 38px;
          }

          .home-about-desc {
            line-height: 23px;
          }
        }

        .home-about-map-image {}

        .home-about-location-card {
          .location-number {}

          .location-label {}

          .location-card-item {
            .location-title {}

            .location-desc {}
          }
        }
      }
    }
  }

  /* ################################  */
  /* END :: Home Page About container  */
  /* ################################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* #####################  */
  /* ######################################  */
  /* START :: Home Page Portfolio container  */
  /* ######################################  */
  .portfolio-section {
    padding: 45px 0 40px;

    .container {
      .portfolio-container {
        .portfolio-content-container {
          gap: 16px;

          .home-portfolio-title {
            >span {
              font-size: 10px;
            }

            .home-portfolio-title-line {}
          }

          .home-portfolio-head {
            font-size: 24px;
            line-height: 34px;
          }

          .home-portfolio-desc {
            line-height: 24px;
          }

          .primary-btn {
            &.white-btn {
              span {}

              i {}
            }
          }
        }
      }
    }
  }
}