/* Large Desktop */
@media (max-width: 992px) {

    /* ##########################  */
    /* START :: Hero container     */
    /* ##########################  */
    .home-hero-section {
        .container {
            .home-hero-container {
                .home-hero-content-main-wrapper {
                    .home-hero-isolation-image {
                        max-width: 370PX;
                        width: 100%;
                    }
                }

                .home-featured-cards {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    /* ##########################  */
    /* END :: Hero container       */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##################################  */
    /* START :: Home Page About container  */
    /* ##################################  */
    .home-about-us-section {
        .container {
            .home-about-us-container {
                flex-direction: column;
                gap: 10vw;

                .home-about-us-content-wrapper {
                    .home-about-title {
                        >span {}

                        .home-about-title-line {}
                    }
                }

                .home-about-location-card {
                    max-width: 80%;

                    .location-number {}

                    .location-label {}

                    .location-card-item {
                        .location-title {}

                        .location-desc {}
                    }
                }
            }
        }
    }

    /* ################################  */
    /* END :: Home Page About container  */
    /* ################################  */
}