@media (max-width:768px) {

    /* ##########################  */
    /* START :: Hero container     */
    /* ##########################  */
    .home-hero-section {
        .container {
            .home-hero-container {
                .home-hero-content-main-wrapper {
                    .home-hero-content-wrapper {
                        .home-hero-head {
                            font-size: 68px;
                            line-height: 75px;
                            width: 385px;
                        }
                    }

                    .home-hero-isolation-image {
                        display: none;
                    }
                }
            }
        }
    }
}