@media (max-width:420px) {
    .sabiona-header-section {
        .container {
            .sobiona-header-container {
                .header-logo-image {
                    width: 90px;
                }

                .header-navbar-container {
                    width: 100%;
                    height: 100%;

                    &.active {}

                    .header-nav-list {}
                }
            }
        }
    }

    /* ##########################  */
    /* END :: Header container     */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##########################  */
    /* START :: Hero container     */
    /* ##########################  */
    .sabiona-hero-section {
        padding: 46px 0 62px;

        .gradient-top {}

        .gradient-left {}

        .container {
            .sabiona-hero-container {
                .hero-content-main-wrapper {
                    .hero-content-wrapper {
                        .hero-title {}

                        .title-outline {}

                        .hero-head {
                            font-size: 42px;
                            line-height: 50px;
                            padding-block: 18px;
                            max-width: 200px;
                        }

                        .hero-desc {
                            font-size: 14px;
                            line-height: 22px;
                            max-width: 300px;
                        }

                        .primary-btn {
                            margin: 16px 0 40px;
                        }
                    }

                    .hero-isolation-image {
                        max-width: 370PX;
                        width: 100%;
                    }
                }

                .featured-cards {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    /* ##########################  */
    /* END :: Hero container       */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##################################  */
    /* START :: Home Page About container  */
    /* ##################################  */
    .home-about-us-section {
        padding: 65px 0;

        .container {
            .home-about-us-container {
                .home-about-us-content-wrapper {
                    gap: 18px;

                    .home-about-title {
                        >span {}

                        .home-about-title-line {}
                    }

                    .home-about-head {
                        font-size: 26px;
                        line-height: 38px;
                    }

                    .home-about-desc {
                        line-height: 23px;
                    }
                }

                .home-about-map-image {}

                .home-about-location-card {
                    .location-number {}

                    .location-label {}

                    .location-card-item {
                        .location-title {}

                        .location-desc {}
                    }
                }
            }
        }
    }

    /* ################################  */
    /* END :: Home Page About container  */
    /* ################################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ######################################  */
    /* START :: Home Page Portfolio container  */
    /* ######################################  */
    .portfolio-section {
        padding: 75px 0 60px;

        .container {
            .portfolio-container {
                .portfolio-content-container {
                    gap: 16px;

                    .home-portfolio-title {
                        >span {}

                        .home-portfolio-title-line {}
                    }

                    .home-portfolio-head {
                        font-size: 26px;
                        line-height: 37px;
                    }

                    .home-portfolio-desc {
                        line-height: 24px;
                    }

                    .primary-btn {
                        &.white-btn {
                            span {}

                            i {}
                        }
                    }
                }
            }
        }
    }

    /* ####################################  */
    /* END :: Home Page Portfolio container  */
    /* ####################################  */
}