@media (max-width:420px) {

    /* ##########################  */
    /* END :: Header container     */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##########################  */
    /* START :: Hero container     */
    /* ##########################  */
    .sabiona-hero-section {
        padding: 46px 0 62px;

        .gradient-top {}

        .gradient-left {}

        .container {
            .sabiona-hero-container {
                .hero-content-wrapper {
                    .hero-title {}

                    .title-outline {}

                    .hero-head {
                        font-size: 46px;
                        line-height: 57px;
                        padding-block: 18px;
                    }

                    .hero-desc {
                        font-size: 14px;
                        line-height: 22px;
                        max-width: 300px;
                    }

                    .primary-btn {
                        margin: 16px 0 40px;
                    }
                }

                .featured-cards {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}