/* Large Desktop */
@media (max-width: 992px) {
    .sabiona-header-section {
        padding: 13px 8px;

        .container {
            .sobiona-header-container {
                align-items: center;

                .header-logo-image {
                    width: 120px;
                }

                .header-navbar-container {
                    padding-top: 6%;
                    position: fixed;
                    z-index: 1;
                    right: -100%;
                    top: 100px;
                    flex-direction: column;
                    height: calc(100vh - 110px);
                    margin-left: 0;
                    width: 70vw;
                    background-color: black;
                    justify-content: start;
                    gap: 12%;
                    transition: var(--transition-default);

                    &.active {
                        right: 0;
                    }

                    .header-nav-list {
                        flex-direction: column;
                        gap: 20px;
                    }
                }

                /* Hamburger Button */
                .hamburger-btn {
                    display: flex;
                    width: 24px;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 18px;
                    border: none;
                    cursor: pointer;
                    background-color: transparent;

                    .hamburger-line {
                        width: 100%;
                        height: 2px;
                        background-color: var(--white);
                        border-radius: 50px;
                        transition: var(--transition-default);
                    }

                    /* Hamburger Click Style */
                    &.active {
                        .hamburger-line:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }

                        .hamburger-line:nth-child(2) {
                            opacity: 0;
                        }

                        .hamburger-line:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    /* ##########################  */
    /* END :: Header container     */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##########################  */
    /* START :: Hero container     */
    /* ##########################  */
    .home-hero-section {
        .container {
            .home-hero-container {
                .home-hero-content-main-wrapper {
                    .home-hero-isolation-image {
                        max-width: 370PX;
                        width: 100%;
                    }
                }

                .home-featured-cards {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    /* ##########################  */
    /* END :: Hero container       */
    /* ##########################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ##################################  */
    /* START :: Home Page About container  */
    /* ##################################  */
    .home-about-us-section {
        .container {
            .home-about-us-container {
                flex-direction: column;
                gap: 10vw;

                .home-about-us-content-wrapper {
                    .home-about-title {
                        >span {}

                        .home-about-title-line {}
                    }
                }

                .home-about-location-card {
                    max-width: 80%;

                    .location-number {}

                    .location-label {}

                    .location-card-item {
                        .location-title {}

                        .location-desc {}
                    }
                }
            }
        }
    }

    /* ################################  */
    /* END :: Home Page About container  */
    /* ################################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* #####################  */
    /* ######################################  */
    /* START :: Home Page Portfolio container  */
    /* ######################################  */
    .portfolio-section {
        .container {
            .portfolio-container {
                flex-direction: column;
                align-items: start;

                .portfolio-content-container {
                    .home-portfolio-title {
                        >span {}

                        .home-portfolio-title-line {}
                    }

                    .home-portfolio-head {}

                    .home-portfolio-desc {}
                }

                .cards-swiper-wrapper {
                    display: none;

                    .swiper {
                        .swiper-wrapper {
                            .swiper-slide {
                                .portfolio-card {
                                    max-width: 244px;
                                    aspect-ratio: 61/85;

                                    .swiper-card-image {
                                        img {}
                                    }

                                    .card-content-wrapper {
                                        .swiper-card-icon {}

                                        .card-content {
                                            .swiper-card-title {}

                                            .swiper-card-desc {}
                                        }
                                    }
                                }
                            }
                        }

                        .swiper-pagination {}
                    }
                }
            }
        }
    }

    /* ######################################  */
    /* START :: Home Page Portfolio container  */
    /* ######################################  */
    .footer-section {
        .footer-container {
            .footer-main-banner-image-wrapper {
                &::before {}

                &::after {}

                .footer-main-banner {
                    grid-template-columns: auto;
                    gap: 20px;

                    .footer-main-header {
                        text-align: center;

                        span {}
                    }

                    .footer-banner-desc {
                        width: 70%;
                        text-align: center;
                    }
                }
            }

            .footer-navigation-main-container {
                .footer-navigation-container {
                    grid-template-columns: auto;
                    gap: 30px;
                    place-content: center;

                    .footer-logo-image {
                        img {}
                    }

                    .footer-navbar {
                        .footer-nav-list {
                            width: 80vw;

                            .footer-nav-item {
                                .footer-nav-link {
                                    &:hover {}
                                }
                            }
                        }
                    }

                    .footer-social-icons {
                        justify-content: center;

                        .footer-social-link {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }

            .footer-copyright-main-container {
                .footer-copyright-bar {
                    .copyright-text {}

                    .footer-bottom-links {
                        .footer-bottom-link {}

                        span {}
                    }
                }
            }
        }
    }
}