/* 
Josefin Sans Font Link */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.sabiona-header-section {
    padding: 5px 0;
    background-color: black;
    position: relative;
    z-index: 1;

    .container {
        .sobiona-header-container {
            display: flex;
            justify-content: space-between;

            .header-logo-image {
                cursor: pointer;
                width: 160px;
            }

            .header-navbar-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-left: 12%;

                .header-nav-list {
                    display: flex;
                    max-width: 597px;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    .header-nav-item {
                        .header-nav-link {
                            color: var(--gray);
                            transition: all .3s ease;
                            font-family: var(--primary-font);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 100%;

                            &:hover {
                                color: var(--white);
                            }
                        }

                        .nav-active-color {
                            color: var(--white);
                        }
                    }
                }

                .header-navbar-language-wrapper {
                    display: flex;
                    max-width: 82px;
                    width: 100%;
                    justify-content: space-between;

                    .language-link {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 100%;
                        color: var(--gray);
                        transition: var(--transition-default);

                        &:hover {
                            color: var(--white);
                        }
                    }

                    .nav-active-color {
                        color: var(--white);
                    }

                    span {
                        color: #FFFFFF1A;
                    }
                }
            }

            /* Hamburger Button */
            .hamburger-btn {
                display: none;
            }
        }
    }
}

/* ##########################  */
/* END :: Header container     */
/* ##########################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* ##########################  */
/* START :: Hero container     */
/* ##########################  */
.sabiona-hero-section {
    background-image: url(../images/sabiona-hero-bg-image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 75px 0 92px;
    height: 100%;
    position: relative;

    .gradient-top {
        background: linear-gradient(180deg, rgba(12, 15, 20, 0.6) 0%, rgba(12, 15, 20, 0) 100%);
        position: absolute;
        top: 0;
        height: 180px;
        width: 100%;
    }

    .gradient-left {
        background: linear-gradient(90deg, #0C0F14 0%, rgba(12, 15, 20, 0.98) 20%, rgba(12, 15, 20, 0.85) 35%, rgba(12, 15, 20, 0.5) 55%, rgba(12, 15, 20, 0.15) 75%, rgba(12, 15, 20, 0) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        width: 70%;
        z-index: 0;
        height: 100%;
    }

    .container {
        .sabiona-hero-container {
            .hero-content-main-wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                width: 90%;

                .hero-content-wrapper {
                    position: relative;

                    .hero-title {
                        font-size: 11px;
                        line-height: 100%;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        color: var(--soft-light-blue);
                    }

                    .title-outline {
                        width: 50px;
                        height: 1.5px;
                        border-radius: 50%;
                        background-color: #8FA9C4;
                        margin-top: 10px;
                    }

                    .hero-head {
                        font-size: 76px;
                        line-height: 84px;
                        font-weight: 700;
                        max-width: 600px;
                        color: var(--white);
                        padding-block: 24px;
                    }

                    .hero-desc {
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 400;
                        color: #94A3B8;
                        max-width: 380px;
                    }

                    .primary-btn {
                        margin: 24px 0 70px;
                    }
                }

                .hero-isolation-image {
                    max-width: 370PX;
                    width: 100%;
                    position: relative;

                    img {
                        height: auto;
                    }
                }
            }

            .featured-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                justify-content: space-between;
                gap: 16px;

                .featured-card {
                    will-change: transform;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 35px 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    border: 1px solid #FFFFFF1F;
                    border-radius: 12px;
                    backdrop-filter: blur(8px);
                    gap: 12px;
                    transition: var(--transition-default);

                    svg {
                        path {}
                    }

                    .featured-card-title {
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        color: var(--white);
                        text-align: center;
                        line-height: 21px;
                    }

                    .featured-card-desc {
                        font-size: 12px;
                        line-height: 20px;
                        color: #E5EBF2B3;
                        font-weight: 400;
                        text-align: center;
                    }

                    &:hover {
                        transform: scale(1.025);
                    }
                }
            }
        }
    }
}

/* ##########################  */
/* END :: Hero container       */
/* ##########################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #######################################  */
/* START :: Home Page AboutUs container     */
/* #######################################  */
.home-about-us-section {
    padding: 100px 0;

    .container {
        .home-about-us-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .home-about-us-content-wrapper {
                display: flex;
                flex-direction: column;
                gap: 28px;
                max-width: 480px;

                .home-about-title {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    >span {
                        font-size: 11px;
                        font-weight: 700;
                        color: #64748B;
                        letter-spacing: 2.5px;
                        line-height: 100%;
                    }

                    .home-about-title-line {
                        width: 48px;
                        background-color: #64748B;
                        height: 1px;
                        border-radius: 50%;
                    }
                }

                .home-about-head {
                    color: #0C0F14;
                    font-size: 34px;
                    line-height: 44px;
                    font-weight: 700;
                }

                .home-about-desc {
                    font-size: 14px;
                    font-weight: 400;
                    color: #475569;
                    line-height: 26px;
                }
            }

            .home-about-map-image {
                max-width: 420px;
                width: 100%;
            }

            .home-about-location-card {
                width: 100%;
                max-width: 260px;

                .location-number {
                    font-size: 52px;
                    font-weight: 700;
                    line-height: 56px;
                    color: #0C0F14;
                }

                .location-label {
                    font-size: 11px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    padding: 6px 0 24px;
                    color: #64748B;
                }

                .location-card-item {
                    padding-block: 24px;
                    border-top: 1px solid #CBD5E1;

                    .location-title {
                        color: #0C0F14;
                        font-family: Josefin Sans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0.5px;
                    }

                    .location-desc {
                        color: #64748B;
                        font-family: Josefin Sans;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

/* #####################################  */
/* END :: Home Page AboutUs container     */
/* #####################################  */