@media (max-width:768px) {
    .sabiona-header-section {
        .container {
            .sobiona-header-container {
                .header-logo-image {
                    width: 120px;
                }

                .header-navbar-container {
                    top: 76px;

                    &.active {}

                    .header-nav-list {}
                }
            }
        }
    }
}

/* ##########################  */
/* END :: Header container     */
/* ##########################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* #####################  */
/* ##########################  */
/* START :: Hero container     */
/* ##########################  */
.sabiona-hero-section {
    .gradient-top {}

    .gradient-left {}

    .container {
        .sabiona-hero-container {
            .hero-content-wrapper {
                .hero-title {}

                .title-outline {}

                .hero-head {
                    font-size: 68px;
                    line-height: 75px;
                    width: 385px;
                }

                .hero-desc {}

                .primary-btn {}
            }

            .featured-cards {}
        }
    }
}